# **Data Science Track**




# **Data Types in Python**

#   **(Python)**

## **Basic Data Type â€“ Strings**

---



The python is default data types can be divided into 3 parts

string data type is a data type that consists of a set of characters. 
In python this data type is usually put in quotation marks at the beginning  and end of the character set.
if the character set is enclosed in quotation marks it will be immediately classified as a string.


*   string data type is a data type that consists of a set of characters.
*   In python this data type is usually put in quotation marks at the beginning  and end of the character set
*   if the character set is enclosed in quotation marks it will be immediately classified as a string.

In [ ]:
a='Hi everybody'
type(a)

str

In [ ]:
#it can be seen that the words or sentences are included in the string

In [ ]:
b="12"
type(b)

str




In addition to data types related to numbers,
Python can also recognize data types consisting of
unicode character set, on python this data type
into the str or Strings class

In [ ]:
say ="me"
word="""
How to Land Your Dream Job
Of Mice and Men
The Cat in the Hat"""
print(type(say))
print(type(word))

<class 'str'>
<class 'str'>

In [ ]:
say

'me'

In [ ]:
word

'\nHow to Land Your Dream Job\nOf Mice and Men\nThe Cat in the Hat'

In [ ]:
print(say)

me

In [ ]:
print(word)

How to Land Your Dream Job
Of Mice and Men
The Cat in the Hat

In [ ]:
say ="me"
old = "19"
word = """
How to Land Your Dream Job
Of Mice and Men
The Cat in the Hat"""
word_2="One Year in Paris\n The Book of Disquiet\n A House for Mr. Biswas\n"
print(say)
print(old)
print(word)
print(word_2)
print(type(say))
print(type(word))
print(type(word_2))
type(old)

me
17

How to Land Your Dream Job
Of Mice and Men
The Cat in the Hat
One Year in Paris
 The Book of Disquiet
 A House for Mr. Biswas

<class 'str'>
<class 'str'>
<class 'str'>

str

The characteristic of Strings is, this data type is always
wrapped in " " or ' ' . If we put
number between these signs, then the data type will change
be strings, not integers or floats

Because a string is a string of characters
Unicode, then strings can be accessed like an array
using the index, but we can not
perform a task against a specific index,
note the following code

In [ ]:
word_3="i python"
sentence="i am programmer"
print(word_3[0])
print(word_3[5])
print(sentence[0:4])
print(sentence[5:])

i
h
i am
programmer

In addition to accessing the value at an index, strings in
Python can also be sliced â€‹â€‹by filling in the starting value
and the stop value, but the character at the stop value does not
will be included in the slicing result, or
excluded.

In addtions, we see that 12 is numeric but because it is quoted in quotes, the data will be read as a string by python.

# **Basic Data Type â€“ Numbers**

---



In python there are two basic data types:
related to numbers and very often encountered, namely float, int and complex. Float or floating point is a decimal number, while int or integer is an integer, while Complex is a number in mathematics.

Numeric data type which consists of three (3) types, such as Integer, Float, and Complex. data types are used to handle numeric in Python.

Integer is a numeric type that represents all positive and negative integers, such as 1,2,3.-1,-2,-3 and so on.

The float type in Python, designates a floating-point number. float values are specified with a decimal point, float type data example:3.14.

Number types in Python also support imaginary numbers and complex numbers. Complex numbers are written in the formulation x + yj.

In [ ]:
decimal_number = 1.25
integers = 10
x = 1
complex_number = x + 2j  
print("Data Type",decimal_number,"is",type(decimal_number))
print("Data Type",integers,"is",type(integers))
print("Data Type",complex_number,"is",type(complex_number))

Data Type 1.25 is <class 'float'>
Data Type 10 is <class 'int'>
Data Type (1+2j) is <class 'complex'>

In [ ]:
print(decimal_number)
print(integers)
print(complex_number)

1.25
10
(1+2j)

Without data type declaration, python can directly
recognize the data type that we use in the variable
integer_recognized as int ,
decimal_number recognized as float
and complex_number which is known as complex.

# **Basic Data Type â€“ Boolean**

---



as previously mentioned, boolean is a data type that can only contain 2 values, namely true and false. This data type is very useful in programming algorithms, especially when we start dealing with conditions and loops.

Boolean is also known as a logical data type. This is because the boolean data type can also accept logical operations such as those in mathematics (conjunction, disjunction, negation, etc.) even though the name is different. Calm downâ€¦ programming is not as difficult as mathðŸ™ƒ

The boolean data type recognizes comparison operators and logical operators, what else is that? This operator is used to get the boolean value of a condition. Relax we will discuss more later.

In [ ]:
foo = 12 < 10
print(foo)
foo = 12 > 10
print(foo)
foo = "A" == "a"
print(foo)

False
True
False

In the first line, I store the result of the comparison operation 12 < 10 into the variable foo. Is 12 < 10? Wrong. So the value of the variable foo will contain the boolean False.

In the third row, the comparison operation is reversed, i.e. is it 12 > 10? Right. So the value of the variable foo will contain the boolean True.

Finally in the fifth line the comparison is whether "A" equals "a". Here I am comparing two strings, but because "A" is not the same as "a", then the variable foo will contain the boolean False.

In [ ]:
tr = True
fs = False
type(tr)

bool

In [ ]:
print(type(fs))

<class 'bool'>

It should be noted here, for writing boolean values â€‹â€‹must begin with a capital letter. If we try to write *true* or *false* it will output an error.

The boolean output will contain the truth of a statement.